version: '3'

services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: PetRescue
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 7946
    ports:
      - "5432:5432"

  backend:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:7946@db:5432/PetRescue
